<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
  rel="stylesheet"
/>
<ion-header>
  <ion-toolbar>
    <ion-title>G00472893</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/home">
        <span class="material-icons-outlined">home</span>
      </ion-button>
      <ion-button routerLink="/favourites">
        <span class="material-icons-outlined">favorite</span>
      </ion-button>
      <ion-button routerLink="/settings">
        <span class="material-icons-outlined">settings</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
