<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>RecipeDetails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense"> </ion-header>
  <ion-toolbar>
    <ion-title size="large">{{ recipeDetails?.title }}</ion-title>
  </ion-toolbar>
  <img src="{{ recipeDetails?.image }}" alt="" />

  <ion-card *ngFor="let ingredient of recipeDetails?.extendedIngredients">
    <img src="{{ imagesCdn }}{{ ingredient.image }} " />
    <ion-card-header>
      <ion-card-title>{{ ingredient.original }}</ion-card-title>
      <ion-card-subtitle
      >{{ ingredient?.measures[measurementType]["amount"] }} {{
        ingredient?.measures[measurementType]["unitLong"] }}</ion-card-subtitle
      >
    </ion-card-header>
  </ion-card>
  <ion-list>
    <ion-item *ngFor="let step of recipeDetails?.analyzedInstructions['0'].steps">
      <ion-label>{{ step.number }}. {{ step.step }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-button (click)="toggleFavourites()"
  >{{ favouriteButtonText }}</ion-button
  >
</ion-content>
