<ion-header [translucent]="true">
  <app-header></app-header>
  <ion-toolbar>
    <ion-title>
      G00472893
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-input [(ngModel)]="searchString" label="Enter Ingredients" placeholder="Ingredients separated by comma"></ion-input>
  <ion-button (click)="search()">SEARCH</ion-button>

  <ion-card *ngFor="let recipe of recipes">
    <img src="{{ recipe.image }} ">
    <ion-card-header>
      <ion-card-title>{{ recipe.title }}</ion-card-title>
    </ion-card-header>

    <ion-button (click)="openRecipe(recipe)">DETAILS</ion-button>
  </ion-card>
</ion-content>
